{% include 'header.html.twig' %}
  
<body>

   <div class="ui modal preview">
        <i class="close icon"></i>
           <div class="header">
               Preview
            </div>
               <div id="preview" >
               </div>
               <div class="actions">
                  <div class="ui black deny button">
                     Close
                  </div>
               </div>
   </div>


  <div class="ui sidebar right   vertical menu">
    
  </div>
  <div class="pusher">
     <div id="map"   ></div>
  </div>
  <div class="control">
  	
  </div>

</body>


  <script src="../../Frontend/js/proj4.js"></script>


  <script src="../../Frontend/js/index.js"></script>

