{% include 'header.html.twig' %}
  
  <div class="pusher">

   <div class="ui modal preview">
        <i class="close icon"></i>
           <div class="header">
               Preview
            </div>
               <div id="preview" >
               </div>
               <div class="actions">
                  <div class="ui black deny button">
                     Close
                  </div>
               </div>
   </div>

  <div class="ui sidebar right vertical menu">
    
  </div>
    <div class="ui sidebar left menu">
	  <div class=" control">
	  </div>
  </div>
   
     <div id="map"> </div>
  </div>

</body>


  <script src="../../Frontend/js/proj4.js"></script>


  <script src="../../Frontend/js/index.js"></script>

