<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
	<title>Petrophysics</title>
	<link rel="stylesheet" type="text/css" href="../../Frontend/css/semantic/dist/semantic.min.css">
  <script src="../../Frontend/js/jquery.min.js"></script>
    <script src="../../Frontend/js/jquery-ui.js"></script>
  <link rel="stylesheet" href="../../Frontend/css/navbar.css">
    <link rel="stylesheet" href="../../Frontend/css/jquery-ui.css">

    <link rel="stylesheet" href="../../Frontend/css/style.css" />
  <script src="../../Frontend/css/semantic/dist/semantic.min.js">
  </script>
  <link rel="stylesheet" href="../../Frontend/leaflet/leaflet.css" />
  <link rel="stylesheet" href="../../Frontend/css/leaflet-areaselect.css" />

  <script src="../../Frontend/leaflet/leaflet.js"></script>
  <script src="../../Frontend/leaflet/leaflet-areaselect.js"></script>



</head>
<body>
<div class="pusher">
<header id="header"></header>
     <nav id="example">
          <div class="navbar ui inverted teal menu ">
              
                <div class="item">
                  
                  <h1 id="title">Petrophysics</h1>
    </div>
     <div class="item">
         <div class="message"></div>
         </div>
                    <div class="item right floated">

    <button class="ui button blue filter">Filter</button>
    </div>

                
                
           
        </nav>
