
{% include 'header.html.twig' %}
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column" id="login">
    <div class="row"></div>

    <h2 class="ui image header">
      <div class="content">
        Reset your password
      </div>
    </h2>
    {%if post %}
      {%if error !="Password updated successfully" %}
<div class="ui negative message">
      <div class="header">
{{error}}      </div>
</p></div>
{%else%}
<div class="ui positive message">
      <div class="header">
{{error}}      </div>
</p></div>
<script type="text/javascript">
     setTimeout(function(){
   window.location.href="accueil";
   }, 3000); 
</script>

{%endif%}
{%endif%}

{%if error !="Password updated successfully" %}
    <form class="ui large form change_password" method="post" action="/change_password">
      <div class="ui error message"></div>
      <div class="ui stacked segment">
          <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
          <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password_confirm" placeholder="Confirm password">
          </div>
        </div>
        <button type="submit" class="ui fluid large teal submit button">Reset password</button>
      </div>

    <input type="text" name="token" value="{{token}}" hidden></form></input>

    </form>
{%endif%}
  
  </div>
</div>

</body>
<script type="text/javascript">
  APP.modules.account.check_change_password();
</script>
{% include 'footer.html.twig' %}
