{% include 'header.html.twig' %}
<div class="ui grid container">
    <div class="row">
    </div>
    <div class="row ">
        <h1 class="ui dividing header">
            Terms of use
        </h1>
    </div>
    <div class="ui grid center segment">
        <div class="row">
        </div>
        <div class="ui text ">
            <h3>
                Publisher
            </h3>
            <p>
                OTELo (Observatoire Terre Environnement de Lorraine) : Lorraine's Observatory of Earth and Environnement
            </p>
            <p>
                15, avenue du charmois
            </p>
            <p>
                54519 Vandoeuvre lès Nancy
            </p>
            <p>
                <a onclick="APP.modules.send_email.contact()">
                    Contact us
                </a>
            </p>
            <p>
                UMS 3562 under the supervision of CNRS and University of Lorraine.
            </p>
            <p>
                Publication Director : Corinne LEYVAL
            </p>
            <p>
                Conception : ARNOULD Pierre-Yves, GUIOT Anthony
            </p>
        </div>
        <div class="ui text ">
            <div class="ui divider container">
            </div>
            <h3>
                Hosting
            </h3>
            <p>
                OTELo-SSI
            </p>
        </div>
        <div class="ui text ">
            <div class="ui divider">
            </div>
            <h3>
                Protection of personnal information
            </h3>
            <p>
                This web site contains personal information concerning in particular the staff of : Lorraine University, CNRS, INRA and their partners.
            </p>
           
            <p>
                Collected informations are the subject of computer proceesing to manage and web publish OTELo 's laboratories datasets :
            </p>
            <ul>
                <li>
                    UMR Georessources UMR7359 CNRS-UL-CREGU
                </li>
                <li>
                    UMR LSE (Laboratoire Sol et Environnement) UMR INRA-UL
                </li>
                <li>
                    LIEC (Laboratoire interdisciplinaire des Environnements Continentaux) UMR7360 CNRS-UL
                </li>
                <li>
                    CRPG (Centre de Recherche Pétrographiques et Géochimiques) UMR7358 CNRS-UL
                </li>
            </ul>
            <p>
                According to the "Informatique et Libertés" french law, n° 78-17 of January 6th 1978 modified in 2004, you entitle the right to access, rectify all data concerning yourself, that you can exercise in sending a written request to
                <a onclick="APP.modules.send_email.contact()">
                    us
                </a>
            </p>
            <p>
                You can also, legitimate purposes, oppose the processing of data concerning yourself.
            To exercise this right, please contact also
                <a onclick="APP.modules.send_email.contact()">
                    Contact us
                </a>
            </p>
        </div>
        <div class="ui text ">
            <div class="ui divider container">
            </div>
            <h3>
                Disclaimer
            </h3>
            <p>
                The responsibility of OTELo cannot in any way be engaged for the content of the information on this site or in the consequences which can result from their use or interpretation.
            </p>
        </div>
        <div class="ui text ">
            <div class="ui divider">
            </div>
            <h3>
                Hypertext links
            </h3>
            <p>
                OTELo allows any website or any other medium to mention or insert a hypertext link to page or information published on this website, subject that connections do not conflict OTELo and its laboratories interests and that they ensure the possibility  for the user to identify the origin and the author of document and respect Creative Commons licence of datasets.
            </p>
            <p>
                As part of this authorisation, our team reserves itself the right to oppose.
            </p>
        </div>
        <div class="row">
        </div>
    </div>
    <div class="row">
    </div>
</div>
{% include 'footer.html.twig' %}
