{% include 'header.html.twig' %}
<div class="ui grid">
		<div class="row"></div>
		<div class="ui sixteen wide centered column"></div>
		<div class="ui sixteen wide centered column"></div>
		<div class="ui sixteen wide centered column"></div>
		<div class="ui sixteen wide centered column"></div>
		<div class="ui sixteen wide centered column"></div>
		<div class="ui sixteen wide centered column"></div>
		<div class="ui sixteen wide centered column"></div>
		<div class="ui sixteen wide centered column"></div>
		<div class="ui eight wide centered column">
			<div class="error ui center segment">
				<div class="container">
					<h1 class="ui dividing centered header"><i class="minus circle red icon"></i>Restricted access</h1>
					<p>Ordar is restricted to OTELo's collaborators.</p>
				</div>
			</div>
		</div>
	</div>
{% include 'footer.html.twig' %}
