
{% include 'header.html.twig' %}
<body>

<div class="ui middle aligned center aligned grid">
<div class="column" id="login">
<div class="row"></div>

<script type="text/javascript">
setTimeout(function(){
window.location.href="accueil";
}, 5000); 
</script>
<div class="ui positive message">
<div class="header">Mail validation successfull!</div>
<div class="content">Now wait for an admin to validate your account!</div>
</p></div>
</div>
</div>



</body>
{% include 'footer.html.twig' %}
