<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
      <title>{{title}}</title>
      <link rel="stylesheet" type="text/css" href="/css/semantic/dist/semantic.min.css">
      <script src="/js/jquery.min.js"></script>
      <script src="/js/jquery-ui.js"></script>
      <link rel="stylesheet" href="/css/navbar.css">
      <link rel="stylesheet" href="/css/jquery-ui.css">
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="stylesheet" href="/css/MarkerCluster.Default.css" />
      <link rel="stylesheet" href="/css/MarkerCluster.css" />
      <script src="/css/semantic/dist/semantic.min.js"></script>
      <link rel="stylesheet" href="/leaflet/leaflet.css" />
      <link rel="stylesheet" href="/css/leaflet-areaselect.css" />
      <link href="/css/jquery.roadmap.min.css" rel="stylesheet" type="text/css" />




   </head>
  
      <div class="pusher">
      <header id="header"></header>
      <nav id="example">
         <div class="navbar ui inverted teal menu ">
         <div class="item">
            <a href="/"><h1 id="title">{{project_name}}</h1></a>
         </div>
         <div class="item">
            <div class="message"></div>
         </div>
         <div class="item right floated">
         {% if mail %} 
            <a class="right item" href="/logout" id="logout">Logout</a> 
	    {% if access == 1  %} 	
            	<a class="item" href="/upload" id="upload">Upload</a> 
               <a class="item" href="/validation" id="approve">Approve</a> 
       {% elseif access == 2  %}   
               <a class="item" href="/upload" id="upload">Upload</a> 
	    {% endif %}
             <a class="item" href="/myaccount" id="upload">My account</a> 
         {% else %} 
            <a class="right item" href="/login" id="login">Login</a> 
            <a class="item" href="/signup" id="login">Sign up</a>
         {% endif %}
         {%if map %}
            <button class="ui button blue filter">Filter</button>
         {% endif %}
         </div>
        
      </nav>


