{% include 'header.html.twig' %}
	
<script type="text/javascript" src="jsonform/jquery.min.js"></script>
<script type="text/javascript" src="jsonform/underscore.js"></script>
<script type="text/javascript" src="jsonform/jsv.js"></script>
<script type="text/javascript" src="jsonform/jsonform.js"></script>
<script type="text/javascript" src="js/jquery.chained.js"></script>
  <script src="/css/semantic/dist/semantic.min.js">
  </script>
<link rel="stylesheet" type="text/css" href="jsonform/css/bootstrap.css" />
<div class="ui grid">
	<div class="ui height wide column centered ">
		<form method="post" action="upload" class="ui form" name="form" enctype="multipart/form-data">





		<div class="ui error message"></div>

		</form>		
	</div>
</div>
<script type="text/javascript">
	JSONForm.fieldTypes['lithology'] = {
		  template: '<%=node.value%>'
		};
		JSONForm.fieldTypes['texture'] = {
		  template: '<%=node.value%>'
		};
		JSONForm.fieldTypes['ore_type'] = {
		  template: '<%=node.value%>'
		};
		$('form').jsonForm({% include 'form_petrophysics.html.twig' %});

		 $(function() {
		$("#jsonform-1-elt-lithology2").chained("#jsonform-1-elt-lithology1");
		$("#jsonform-1-elt-lithology3").chained("#jsonform-1-elt-lithology2");
		$("#jsonform-1-elt-texture2").chained("#jsonform-1-elt-texture1");
		$("#jsonform-1-elt-texture3").chained("#jsonform-1-elt-texture2");
		$("#jsonform-1-elt-oretype2").chained("#jsonform-1-elt-oretype1");
		$("#jsonform-1-elt-oretype3").chained("#jsonform-1-elt-oretype2");
		$( "select[name='measurements[].abbreviation']" ).change(function() {
				value= $( "select[name='measurements[].abbreviation']" ).val();
				switch (value) {
				  case 'AMS':
					  nature="Anisotropy of Magnetic Susceptibility without ferrofluid" ;
					  unit="SI" ;
				   break;
				   case 'Tcond-D':
					  nature="Thermal Conductivity dry" ;
					  unit="W/m/K" ;
				   break;
				   case 'Tdif-D':
					  nature="Thermal Diffusivity dry" ;
					  unit="mm2/s" ;
				   break;
				   case 'P-Wave-D':
					  nature="P-wave Velocity dry" ;
					  unit="m/s" ;
				   break;
				   case 'S-Wave-D':
					  nature="S-wave Velocity dry" ;
					  unit="m/s" ;
				   break;
				   case 'GD':
					  nature="Grain Density";
					  unit="g/cm3" ;
				   break;
				   case 'Porosity-TW':
					  nature="Triple Weight Porosity" ;
					  unit="%" ;
				   break;
				   case 'Porosity-He':
					  nature="Helium Porosity" ;
					  unit="%" ;
				   break;
				   case 'Perm-Ni':
					  nature="Permeability Nitrogen" ;
					  unit="m2" ;
				   break;
				   case 'AMS-ferro':
					  nature="Anisotropty of Magnetic Susceptibility with ferrofluid saturation" ;
					  unit="SI" ;
				   break;
				   case 'Porosity-Hg':
					  nature="Mercury Porosity" ;
					  unit="%" ;
				   break;
				   case 'GD-powder':
					  nature="Grain Density with powder porphyriser" ;
					  unit="g/cm3" ;
				   break;
				   case 'S-Wave-W':
					  nature="S-wave Velocity wet" ;
					  unit="m/s" ;
				   break;
				   case 'SHC':
					  nature="Specific Heat Capacity" ;
					  unit="kJ/kg/K" ;
				   break;
				   case 'Tdif-W':
					  nature="Thermal Diffusivity wet" ;
					  unit="mm2/s" ;
				   break;
				   case 'Tcond-W':
					  nature="Thermal Conductivity wet" ;
					  unit="W/m/K" ;
				   break;
				   case 'Perm-F':
					  nature="Field Permeameter" ;
					  unit="m2" ;
				   break;
				   case 'P-Wave-W':
					  nature="P-wave Velocity wet" ;
					  unit="m/s" ;
				   break;
				     case 'MS':
					  nature="Magnetic susceptibility" ;
					  unit="SI" ;
				   break;

				
				 
				}
				$( "input[name='measurements[].nature']" ).val(nature);
				$( "input[name='measurements[].unit']" ).val(unit);
		  
		});

	});

$('.ui.form')
  .form({
    fields: {
      title: {
        identifier: 'title',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a title'
          }
        ]
      },
       institutions: {
                          identifier: 'institution[0].institution',
                          rules: [{
                              type: 'empty',
                              prompt: 'Please enter institution'
                          }]
                      },
        
      
    }
  })
;
$('.ui.dropdown[name*="scientific_fields"]')
  .dropdown({
    allowAdditions: true
  })
;
$('.ui.dropdown[name*="institution"]')
  .dropdown({
    allowAdditions: true
  })
;



	</script>
	<style type="text/css">
		label{
			font-size: 1.3em!important;
		}
		.expandable{
			cursor:  pointer;
		}
		select:disabled{
			background-color: #e8e8e8!important;
		}

	</style>
